@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@theme {
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  --font-display: "Cormorant Garamond", serif;

  --color-teal: #16697A;
  --color-mid: #489FB5;
  --color-sky: #82C0CC;
  --color-cream: #EDE7E3;
  --color-orange: #FFA62B;
  --color-dark: #0D3D47;
}

@import "tailwindcss";

.greenColor {
  color: green !important;
  font-weight: bold;
}

.redColor {
  color: red !important;
  font-weight: bold;
}